places
.smex-items
ac-comphist.dat
backups/*
\#*
auto-save-list
eshell/history
eshell/lastdir
url/cookies
.DS_Store
etags/*
ac-dict/*
bookmarks
custom*
%backup%~
tramp
.saveplace
el-get
.emacs.desktop*
recentf*
session*
ido.last
projectile-bookmarks.eld
semanticdb/*
projectile.cache
request/*
var/*
sql-history/*
*.elc
*.tern-port
*ido.last~
eshell/autojump*
server/*