[submodule "lib/tmtxt-dired-async"]
	path = lib/tmtxt-dired-async
	url = git@github.com:tmtxt/tmtxt-dired-async.git
[submodule "lib/sunrise-commander"]
	path = lib/sunrise-commander
	url = git@github.com:escherdragon/sunrise-commander.git
[submodule "lib/ido-hacks"]
	path = lib/ido-hacks
	url = git@github.com:scottjad/ido-hacks.git
[submodule "lib/emacs-eclim"]
	path = lib/emacs-eclim
	url = git@github.com:senny/emacs-eclim.git
[submodule "lib/auto-complete-clang"]
	path = lib/auto-complete-clang
	url = git@github.com:brianjcj/auto-complete-clang.git
