[submodule "lib/tmtxt-dired-async"]
	path = lib/tmtxt-dired-async
	url = https://github.com/tmtxt/tmtxt-dired-async.git
[submodule "lib/tmtxt-async-tasks"]
	path = lib/tmtxt-async-tasks
	url = https://github.com/tmtxt/tmtxt-async-tasks.git
