[submodule "lib/tmtxt-dired-async"]
	path = lib/tmtxt-dired-async
	url = git@github.com:tmtxt/tmtxt-dired-async.git
[submodule "lib/ido-hacks"]
	path = lib/ido-hacks
	url = git@github.com:scottjad/ido-hacks.git
[submodule "lib/auto-complete-clang"]
	path = lib/auto-complete-clang
	url = git@github.com:brianjcj/auto-complete-clang.git
[submodule "lib/emmet-mode"]
	path = lib/emmet-mode
	url = git@github.com:smihica/emmet-mode.git
[submodule "lib/tmtxt-async-tasks"]
	path = lib/tmtxt-async-tasks
	url = git@github.com:tmtxt/tmtxt-async-tasks.git
[submodule "lib/jshint-mode"]
	path = lib/jshint-mode
	url = git@github.com:daleharvey/jshint-mode.git
