places
.smex-items
ac-comphist.dat
backups/*
\#*
auto-save-list
eshell/*
url/cookies
elpa/*
.DS_Store
etags/*
ac-dict/*
bookmarks
custom*
%backup%~
tramp
.saveplace
el-get
.emacs.desktop*
recentf
session*
ido.last